*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "qualcomm_nextmedium";
  line-height: 1;
}

h1,
.h1 {
  font-size: 60px;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "qualcomm_nextmedium";
  src: url("assets/fonts/qualcommnext-medium-webfont.woff2") format("woff2"), url("assets/fonts/qualcommnext-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "qualcomm_nextregular";
  src: url("assets/fonts/qualcommnext-regular-webfont.woff2") format("woff2"), url("assets/fonts/qualcommnext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.pc-compontes .content {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 5em;
}
.pc-compontes .hero {
  width: 100%;
  position: relative;
  display: flex;
  height: 40vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.pc-compontes .hero .hero-content {
  position: absolute;
  width: 100%;
}
.pc-compontes .hero .hero-content .hero-lockup {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pc-compontes .hero .hero-content .hero-lockup h1 {
  text-align: right;
  color: #fff;
}
.pc-compontes .hero .hero-content .hero-lockup .logo {
  width: 300px;
}
.pc-compontes .hero .hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.pc-compontes .feature-icon-grid {
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5em;
       column-gap: 5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .pc-compontes .feature-icon-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.pc-compontes .feature-icon-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pc-compontes .feature-icon-grid .feature .feature-icon {
  width: 100px;
  height: 100px;
}
.pc-compontes .cta-grid {
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
}
.pc-compontes .cta-grid header {
  grid-column: 1/3;
  grid-row: 1/2;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}
.pc-compontes .cta-grid .red {
  width: 100%;
  height: 100%;
}
.pc-compontes .cta-grid .cta {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.pc-compontes .cta-grid .cta .content-lockup {
  width: 50%;
}