//Resets
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
img {
	width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

// Webpage styles.
.pc-compontes {
	.hero {
		width: 100%;
		.hero-image {
		}
	}
	.content {
		max-width: 1560px;
		margin: 0 auto;
	}
	.product-grid {
		margin: 2em auto;
		display: grid;
		@media screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		column-gap: 1em;
		header {
			grid-column: 1/4;
			grid-row: 1/2;
			border-bottom: 1px solid #000;
			margin-bottom: 1em;
		}
		.product {
			border-right: 1px solid #000;
			padding-right: 1em;
			&:last-child {
				border-right: none;
				padding-right: 0;
			}
		}
	}

	.feature-icon-grid {
		margin: 2em auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}
		column-gap: 5em;
		text-align: center;
		.feature {
			display: flex;
			flex-direction: column;
			align-items: center;

			.feature-icon {
				width: 100px;
				height: 100px;
			}
		}
	}

	.cta-grid {
		margin: 2em auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 1fr 1fr;
		header {
			grid-column: 1/3;
			grid-row: 1/2;
			border-bottom: 1px solid #000;
			margin-bottom: 1em;
		}
		.red {
			width: 100%;
			height: 300px;
			background-color: red;
		}
		.cta {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			height: 300px;
			.content-lockup {
				width: 50%;
			}
		}
	}
}
